---
import google from '../../public/google.svg';
---

<script>
  function handleLogin() {
    window.location.href = "/home";
  };
  document.getElementById('button')?.addEventListener('click', handleLogin)
</script>

<button id="button">
  <img src={google.src} alt="google" />
  <p>Login with google</p>
</button>

<style>
  button {
    background-color: white;
    height: 320px;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    box-shadow: 4px 4px 18px 0px rgba(255, 255, 255, 1);
  }
  p {
    font-family: monospace;
    font-size: 16px;
  }
</style>
